In [3]:
import pandas as pd
from sklearn.model_selection import train_test_split

In [4]:
accidents = pd.read_csv('../data/clean/accidents_clean.csv')
accidents.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 61058 entries, 0 to 61057
Data columns (total 9 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   AccidentSeverityCategory_de  61058 non-null  object
 1   AccidentInvolvingPedestrian  61058 non-null  bool
 2   AccidentInvolvingBicycle     61058 non-null  bool
 3   AccidentInvolvingMotorcycle  61058 non-null  bool
 4   RoadType_de                  61058 non-null  object
 5   AccidentYear                 61058 non-null  int64
 6   AccidentMonth_de             61058 non-null  object
 7   AccidentWeekDay_de           61058 non-null  object
 8   AccidentHour                 61058 non-null  int64
dtypes: bool(3), int64(2), object(4)
memory usage: 3.0+ MB

In [5]:
# Aufteilung in Features und Label
X = accidents.drop('AccidentSeverityCategory_de', axis=1)
y = accidents['AccidentSeverityCategory_de']

rs = 1

# Aufteilung in Trainings- und Testdaten (80% training, 20% Test)
X_train, X_test, y_train, y_test = train_test_split(
    X, y, test_size=0.2, random_state=rs, stratify=y)

In [6]:
dummy_variables = ["RoadType_de", "AccidentMonth_de", "AccidentWeekDay_de", "AccidentHour"]
X_train = pd.get_dummies(X_train, columns=dummy_variables) #drop_first?
X_test = pd.get_dummies(X_test, columns=dummy_variables)

train_columns = X_train.columns
test_columns = X_test.columns

missing_columns = set(train_columns) - set(test_columns)
for column in missing_columns:
    X_test[column] = False
    
extra_columns = set(test_columns) - set(train_columns)
for column in extra_columns:
    X_test.drop(columns=extra_columns, inplace=True)

# Die Spalten im Testdatensatz entsprechend dem Trainingsdatensatz sortieren
X_test = X_test[train_columns]

print("Trainingsdaten:")
print(X_train.info())
print("\nTestdaten:")
print(X_test.info())

Trainingsdaten:
<class 'pandas.core.frame.DataFrame'>
Index: 48846 entries, 42995 to 21725
Data columns (total 50 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   AccidentInvolvingPedestrian    48846 non-null  bool
 1   AccidentInvolvingBicycle       48846 non-null  bool
 2   AccidentInvolvingMotorcycle    48846 non-null  bool
 3   AccidentYear                   48846 non-null  int64
 4   RoadType_de_Hauptstrasse       48846 non-null  bool
 5   RoadType_de_Nebenstrasse       48846 non-null  bool
 6   RoadType_de_andere             48846 non-null  bool
 7   AccidentMonth_de_April         48846 non-null  bool
 8   AccidentMonth_de_August        48846 non-null  bool
 9   AccidentMonth_de_Dezember      48846 non-null  bool
 10  AccidentMonth_de_Februar       48846 non-null  bool
 11  AccidentMonth_de_Januar        48846 non-null  bool
 12  AccidentMonth_de_Juli          48846 non-null  bool
 13  AccidentMonth_de_Juni          48846 non-null  bool
 14  AccidentMonth_de_Mai           48846 non-null  bool
 15  AccidentMonth_de_März          48846 non-null  bool
 16  AccidentMonth_de_November      48846 non-null  bool
 17  AccidentMonth_de_Oktober       48846 non-null  bool
 18  AccidentMonth_de_September     48846 non-null  bool
 19  AccidentWeekDay_de_Dienstag    48846 non-null  bool
 20  AccidentWeekDay_de_Donnerstag  48846 non-null  bool
 21  AccidentWeekDay_de_Freitag     48846 non-null  bool
 22  AccidentWeekDay_de_Mittwoch    48846 non-null  bool
 23  AccidentWeekDay_de_Montag      48846 non-null  bool
 24  AccidentWeekDay_de_Samstag     48846 non-null  bool
 25  AccidentWeekDay_de_Sonntag     48846 non-null  bool
 26  AccidentHour_0                 48846 non-null  bool
 27  AccidentHour_1                 48846 non-null  bool
 28  AccidentHour_2                 48846 non-null  bool
 29  AccidentHour_3                 48846 non-null  bool
 30  AccidentHour_4                 48846 non-null  bool
 31  AccidentHour_5                 48846 non-null  bool
 32  AccidentHour_6                 48846 non-null  bool
 33  AccidentHour_7                 48846 non-null  bool
 34  AccidentHour_8                 48846 non-null  bool
 35  AccidentHour_9                 48846 non-null  bool
 36  AccidentHour_10                48846 non-null  bool
 37  AccidentHour_11                48846 non-null  bool
 38  AccidentHour_12                48846 non-null  bool
 39  AccidentHour_13                48846 non-null  bool
 40  AccidentHour_14                48846 non-null  bool
 41  AccidentHour_15                48846 non-null  bool
 42  AccidentHour_16                48846 non-null  bool
 43  AccidentHour_17                48846 non-null  bool
 44  AccidentHour_18                48846 non-null  bool
 45  AccidentHour_19                48846 non-null  bool
 46  AccidentHour_20                48846 non-null  bool
 47  AccidentHour_21                48846 non-null  bool
 48  AccidentHour_22                48846 non-null  bool
 49  AccidentHour_23                48846 non-null  bool
dtypes: bool(49), int64(1)
memory usage: 3.0 MB
None

Testdaten:
<class 'pandas.core.frame.DataFrame'>
Index: 12212 entries, 58212 to 25525
Data columns (total 50 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   AccidentInvolvingPedestrian    12212 non-null  bool
 1   AccidentInvolvingBicycle       12212 non-null  bool
 2   AccidentInvolvingMotorcycle    12212 non-null  bool
 3   AccidentYear                   12212 non-null  int64
 4   RoadType_de_Hauptstrasse       12212 non-null  bool
 5   RoadType_de_Nebenstrasse       12212 non-null  bool
 6   RoadType_de_andere             12212 non-null  bool
 7   AccidentMonth_de_April         12212 non-null  bool
 8   AccidentMonth_de_August        12212 non-null  bool
 9   AccidentMonth_de_Dezember      12212 non-null  bool
 10  AccidentMonth_de_Februar       12212 non-null  bool
 11  AccidentMonth_de_Januar        12212 non-null  bool
 12  AccidentMonth_de_Juli          12212 non-null  bool
 13  AccidentMonth_de_Juni          12212 non-null  bool
 14  AccidentMonth_de_Mai           12212 non-null  bool
 15  AccidentMonth_de_März          12212 non-null  bool
 16  AccidentMonth_de_November      12212 non-null  bool
 17  AccidentMonth_de_Oktober       12212 non-null  bool
 18  AccidentMonth_de_September     12212 non-null  bool
 19  AccidentWeekDay_de_Dienstag    12212 non-null  bool
 20  AccidentWeekDay_de_Donnerstag  12212 non-null  bool
 21  AccidentWeekDay_de_Freitag     12212 non-null  bool
 22  AccidentWeekDay_de_Mittwoch    12212 non-null  bool
 23  AccidentWeekDay_de_Montag      12212 non-null  bool
 24  AccidentWeekDay_de_Samstag     12212 non-null  bool
 25  AccidentWeekDay_de_Sonntag     12212 non-null  bool
 26  AccidentHour_0                 12212 non-null  bool
 27  AccidentHour_1                 12212 non-null  bool
 28  AccidentHour_2                 12212 non-null  bool
 29  AccidentHour_3                 12212 non-null  bool
 30  AccidentHour_4                 12212 non-null  bool
 31  AccidentHour_5                 12212 non-null  bool
 32  AccidentHour_6                 12212 non-null  bool
 33  AccidentHour_7                 12212 non-null  bool
 34  AccidentHour_8                 12212 non-null  bool
 35  AccidentHour_9                 12212 non-null  bool
 36  AccidentHour_10                12212 non-null  bool
 37  AccidentHour_11                12212 non-null  bool
 38  AccidentHour_12                12212 non-null  bool
 39  AccidentHour_13                12212 non-null  bool
 40  AccidentHour_14                12212 non-null  bool
 41  AccidentHour_15                12212 non-null  bool
 42  AccidentHour_16                12212 non-null  bool
 43  AccidentHour_17                12212 non-null  bool
 44  AccidentHour_18                12212 non-null  bool
 45  AccidentHour_19                12212 non-null  bool
 46  AccidentHour_20                12212 non-null  bool
 47  AccidentHour_21                12212 non-null  bool
 48  AccidentHour_22                12212 non-null  bool
 49  AccidentHour_23                12212 non-null  bool
dtypes: bool(49), int64(1)
memory usage: 775.2 KB
None

In [7]:
y_test.value_counts()

AccidentSeverityCategory_de
Unfall mit Sachschaden         9086
Unfall mit Leichtverletzten    2601
Unfall mit Schwerverletzten     508
Unfall mit Getöteten             17
Name: count, dtype: int64

In [8]:
y_train = (y_train != 'Unfall mit Sachschaden').astype(int)
y_test = (y_test != 'Unfall mit Sachschaden').astype(int)

In [9]:
X_test.to_csv("../data/training/X_test.csv", index=False)
X_train.to_csv("../data/training/X_train.csv", index=False)
y_test.to_csv("../data/training/y_test.csv", index=False)
y_train.to_csv("../data/training/y_train.csv", index=False)

In [10]:
X_train

,AccidentInvolvingPedestrian,AccidentInvolvingBicycle,AccidentInvolvingMotorcycle,AccidentYear,RoadType_de_Hauptstrasse,RoadType_de_Nebenstrasse,RoadType_de_andere,AccidentMonth_de_April,AccidentMonth_de_August,AccidentMonth_de_Dezember,...,AccidentHour_14,AccidentHour_15,AccidentHour_16,AccidentHour_17,AccidentHour_18,AccidentHour_19,AccidentHour_20,AccidentHour_21,AccidentHour_22,AccidentHour_23
42995,False,False,False,2023,True,False,False,False,False,True,...,False,False,False,False,False,True,False,False,False,False
57034,False,False,False,2023,True,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
22423,False,False,False,2021,False,True,False,False,True,False,...,False,False,False,False,False,False,False,False,False,False
34126,False,False,False,2019,True,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
6628,False,False,False,2015,False,True,False,False,False,False,...,False,False,False,False,True,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16812,False,False,True,2020,False,True,False,False,True,False,...,False,False,False,False,False,False,False,False,True,False
8648,False,False,False,2016,True,False,False,False,False,False,...,False,True,False,False,False,False,False,False,False,False
24962,False,False,False,2023,False,True,False,False,False,False,...,False,False,False,False,False,False,True,False,False,False
34866,False,False,False,2022,True,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
21725,False,False,False,2022,False,True,False,False,False,False,...,False,False,False,True,False,False,False,False,False,False